body {
  padding-top: 50px;
  background: 
  linear-gradient( to top, rgba(0,0,0,.9), rgba(0,0,0,.9));
}
.starter-template {
  padding: 40px 15px;
}

.query {
  text-align: left;
  color: #ccc;
  text-shadow: 1px 1px 1px black;
}

.footer {
	color: #934813;
}

.post-title {
	color: black;
}

.sort-button li a:hover {
	background-color:  transparent;
}

.sort li a:hover {
	background-color: #3399FF;
	color: white;
}

.sort {
	color: white;
}


.category {
  color: #ccc;

}

.bg {
    background: 
  linear-gradient( to bottom, rgba(0,0,0,.9), rgba(0,0,0,.9) 60%),
  url("http://www.mocagh.org/origin/uocharter-poster.jpg")
  ;

  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

